$secondary: #d9d9d9;
$success: #00A150;

$utilities: () !default;

$utilities: map-merge((
    'viewport-height':(
        property: height,
        class:vh,
        responsive: true,
        values:(
            10: 10vh,
            15: 15vh,
            25: 25vh,
            50: 50vh,
            75: 75vh,
            100: 100vh
        )
    ),
    'viewport-width':(
        property: width,
        class:vw,
        responsive: true,
        values:(
            10: 10vw,
            25: 25vw,
            50: 50vw,
            75: 75vw,
            100: 100vw
        )
    )
), $utilities);

@import '~bootstrap/scss/bootstrap.scss';
